<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updatecourse" method="post">
        Course Id:<input type="text" name="cid" id="cid" value="<%=cour.cid%>" readonly><br>
        Course Name:<input type="text" name="cname" id="cname" value="<%=cour.cname%>"><br>
        Course Quantity:<input type="text" name="qty" id="qty" value="<%=cour.qty%>"><br>
        <button type="submit" name="btn" id="btn">Update Course</button>


    </form>
</body>
</html>